
@{
    ViewData["Title"] = "Index";
}

<h1>Prdocut Page</h1>
@model List<ProductViewModel>
<h3>Produtcs</h3>

@*Mesaj için*@
@if (TempData["status"]!=null)
{
    <div class="alert alert-primary" role="alert">
        @TempData["status"]
    </div>

}

<a asp-controller="products" asp-action="add">Add Product</a>
<table class="table">
    <thead>
        <tr>
        <th>Id</th>
         <th>Name</th>
         <th>Price</th>
         <th>Stock</th>
            <th>Color</th>
            <th>Publish</th>
            <th>Exprie(Month)</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@item.Stock</td>
            <td>@item.Color</td>
            <td>
                   @(item.IsPublish? "Evet":"Hayır")
                </td>
            <td>@item.Expire</td>
                <td>@if (item.Description.Length>20)
                    {
                        @item.Description.Substring(0,20) <text>...</text>
                    }
                    else
                    {
                        @item.Description
                    }


            </td>
               
            <!--Yapılıacak İşelmler Ayar Yeri(remove)-->
            <td> <a asp-controller="products" asp-action="remove" asp-route-id="@item.Id">Delete</a></td>
                <!--Yapılıacak İşelmler Ayar Yeri(update)-->
                <td> <a asp-controller="products" asp-action="update" asp-route-id="@item.Id">Update</a></td>
                <!--Tekil Ürün Sayfası-->
                <td> <a asp-route="product" asp-route-productid="@item.Id">Ürün Sayfasına Git</a></td>
        </tr>
    }
    </tbody>
</table>

<a asp-route="productpage" asp-route-page=1 asp-route-pagesize=3>1. sayfadan 3 ürün ver</a>
<a asp-route="productpage" asp-route-page=2 asp-route-pagesize=3>2. sayfadan 3 ürün ver</a>
